
<div class="user-front-page">
  <div class="container-full-width">
    <div class="main-container">
      <h2>User Page</h2>
      <h3>Hello <%= current_user.email %></h3>
      <div>
        You have <%= current_user.members.count %> active members.
        <table class="table table-striped table-hover">
          <thead>
            <tr class="sortable-table">
              <!-- <th>
                Id
              </th> -->
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Birth Year
              </th>
              <th>
                Status
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
        
          <tbody>
            <%= render 'member' %> 
          </tbody> 
        </table>  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Add members
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Remove members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'form' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nulla facilisi morbi tempus iaculis. Leo duis ut diam quam. Et egestas quis ipsum suspendisse. Ante in nibh mauris cursus mattis molestie a. Fames ac turpis egestas integer. Duis at tellus at urna. Enim sit amet venenatis urna cursus. Malesuada fames ac turpis egestas. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat. Vel pretium lectus quam id leo in vitae. Sodales ut eu sem integer. A arcu cursus vitae congue. Sem fringilla ut morbi tincidunt augue interdum velit. Tincidunt id aliquet risus feugiat in ante. Faucibus nisl tincidunt eget nullam non.

            Vel turpis nunc eget lorem dolor. Urna id volutpat lacus laoreet non curabitur gravida arcu. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Mattis pellentesque id nibh tortor id aliquet lectus proin. Leo a diam sollicitudin tempor id eu. Pulvinar proin gravida hendrerit lectus a. In fermentum posuere urna nec tincidunt. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Etiam erat velit scelerisque in dictum non consectetur. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Metus dictum at tempor commodo ullamcorper a lacus. Ornare aenean euismod elementum nisi quis. Praesent tristique magna sit amet purus gravida quis blandit. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Id faucibus nisl tincidunt eget nullam non. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Scelerisque varius morbi enim nunc faucibus a pellentesque sit.

           
          </p>
        </div>

      </div>
    <!-- < if current_user.try(:type) == 'AdminUser' %> -->
      <%= render 'users/formfilter' %>
      <div id="filterrific_results">

        <table class="table table-striped table-hover">
          <thead>
            <tr class="sortable-table">
              <!-- <th>
                Id
              </th> -->
              <th>
                #
              </th>
              <th class='hidden-xs'>
                Created
              </th>
              <!-- <th class='hidden-xs'>
                User id
              </th>
              <th class='hidden-xs'>
                Cust id
              </th> -->
              <th>
                User Name
              </th>
              <th>
                Member Name
              </th>
              <th class='hidden-xs'>
                Description
              </th>
              <th>
                Status
              </th>
              <th class='hidden-xs'>
              </th>
              <th class='hidden-xs'>
              </th>
            </tr>
          </thead>
        
          <tbody>
            <!-- < if current_user.try(:type) != 'AdminUser'%> -->
              <%= render @user %> 
            <!-- < elsif %> -->
              <!-- <= render @admin_user %> -->
            <!-- < end %> -->
          </tbody>
        
        </table>
        <!-- <= will_paginate @jobs, renderer: BootstrapPagination::Rails %> -->
      </div>
    <!-- < end %> -->
    </div>
  </div>
</div>



  