<div class="top-posts">
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-style-10 form-post">
    <h2>Forgot your password?</h2>
    <form>
        <div class="section"><span>1</span>Email</div>
        <div class="inner-wrap">
            <label>Email Address <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %></label>
        </div>
        <div class="button-section">
         <%= f.submit "Send me reset password instructions" %>
        </div>
        <div class="shared-links">
          <%= render "devise/shared/links" %>
        </div>
        
    </form>
  </div>
<% end %>




