<nav class="navbar navbar-default custom-nav">
  
    <nav class="navbar navbar-light bg-light">
      <%= link_to image_tag("s3://mississaugajudo/brand-logo.png", alt: "logo"), root_path, class: 'navbar-brand' %>
    </nav>

    
    <div class="collapse navbar-collapse collapse2" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav pull-right">
        <li class="">
          <%= link_to "Home", root_path %>
        </li>

        <li class="dropdown hidden-xs">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> About
          <span class="caret"></span>
          </a>
            <% if user_signed_in? %>
              <ul class="dropdown-menu">
                <li class="">
                  <%= link_to "Club News", posts_path %>
                </li>
                <li class="">
                  <%= link_to "Instructors", static_homepage_path(anchor: 'instructors') %>
                </li>
                <li class="">
                 <%= link_to "Fees&Enrollment", static_homepage_path(anchor: 'fees') %>
                </li>
                <li class="">
                  <%= link_to "Club Info", static_homepage_path(anchor: 'info') %>
                </li><li class="">
                  <%= link_to "Schedule", static_homepage_path(anchor: 'schedule') %>
                </li>
                <li class="">
                  <%= link_to "Contact Us", static_homepage_path(anchor: 'contact') %>
                </li>
              </ul>
            <% else %>
              <ul class="dropdown-menu">
                <li class="">
                  <%= link_to "Club News", posts_path %>
                </li>
                <li class="">
                  <%= link_to "Instructors", root_path(anchor: 'instructors') %>
                </li>
                <li class="">
                 <%= link_to "Fees&Enrollment", root_path(anchor: 'fees') %>
                </li>
                <li class="">
                  <%= link_to "Club Info", root_path(anchor: 'info') %>
                </li><li class="">
                  <%= link_to "Schedule", root_path(anchor: 'schedule') %>
                </li>
                <li class="">
                  <%= link_to "Contact Us", root_path(anchor: 'contact') %>
                </li>
              </ul>
            <% end %>
        </li> 
        
        <% if !user_signed_in? %>
          <li class="">
            <%= link_to "Login", new_user_session_path %>
          </li>
          <li class="">
            <%= link_to "Sign Up", new_user_registration_path  %>
          </li>
        <% else %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
          
          <% if current_user.try(:type) == 'AdminUser' %>
            <li>
              <%= link_to "Members", members_path %>
            </li>
            <li>
              <%= link_to "Admin Dashboard", admin_root_path %>
            </li>
            <li>
              <%= link_to "New Post",  new_post_path %>
            </li>
          <% elsif %>
            <li>
              <%= link_to "User Page", users_path %>
            </li>
          <% end %>
          
        <% end %>
        
      </ul>
    </div>
</nav>
