<div class="top-front-page">
  
  <h3>THE LEARNING DOJO</h3>
  <h1>SHIN BU KAN JUDO CLUB</h1>
  
</div>
<div class="container-full-width">
  <div class="main-container">
    <div class="about-club">
      <h1>ABOUT OUR CLUB</h1>
      <hr class="style-two">
      <div class="row">
        <div class="col-md-8">
          <p>The Shin Bu Kan Judo club traces its history to the Etobicoke Olympium in 1982 where Sensei Goki Uemura (8thDan, Judo Hall of Fame). A few later, the club was turning out Canadian champions at competitions in Brazil, France, England, Japan, Poland, and Egypt.</p>
        </div>
        <div class="col-md-4">
          <%= image_tag "Goki_Uemura.jpg" %>
        </div>
      </div>
      <h1>ABOUT JUDO</h1>
      <hr class="style-two">
      <div>
        <div class="founder-of-judo">
          <p>"For one thing, Judo in reality is not a mere sport or game. I regard it as a principle of life, art and science. In fact, it is a means for personal cultural attainment."</p>

          
        </div>
        <p class="autor"> - THE FOUNDER OF JUDO, MASTER JIGORO KANO</p>
      </div>
      <br><br><br><br>
      <div>

        <p class="judo-definition"><%= image_tag "jigoro.jpg" %>Judo (the "gentle way") was developed by Professor Jigoro Kano in 1882. More than martial art, it is a form of physical, intellectual, and moral education based on the principles of maximum efficiency with minimum effort ("seiryoku zenyo") and mutual welfare and benefit ("jita kyoei"). Derived from jiujitsu, modern day judo techniques consist of throws ("nage waza") and grappling controls ("kateme waza").Today, judo is an Olympic sport and is practiced in over 195 countries around the world.</p> 
      </div>
      <h1 id="info">OUR STORY</h1>
      <hr class="style-two">
      <div class="row image-paragraph">
        <div class="col-md-6">
          <p>
            The Mississauga Judo club traces its history to the Etobicoke Olympium in 1982 where Senseis Goki Uemura and Tokio Koizumi trained with three students. A few years later, that club, Shin Bu Kan, was turning out Canadian champions at competitions in Brazil, France, England, Japan, Poland and Egypt.
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag "full-team.jpg" %>
        </div>
      </div>
      <div class="row image-paragraph">
        <div class="col-md-6">
          <%= image_tag "dojo-01.jpg" %>
        </div>
        <div class="col-md-6">
          <p>
            Today, we have our own facilities with large fighting areas, crash mats, men’s and women’s change rooms (including shower facilities), and washrooms.
              The club is an official member of Judo Ontario and students have the opportunity to participate in all tournaments.
          </p>
        </div>
          
      </div>
      <h1>JOIN OUR TEAM</h1>
      <hr class="style-two">
      <div class="row image-paragraph">
        <div class="col-md-6">
          <%= image_tag "sensei-team.jpg" %>
        </div>
        <div class="col-md-6">
          <p>
            We welcome new and seasoned judoka who are looking to start or continue their judo careers. We offer competitive streams and all of our members are registered with Judo Ontario and Judo Canada. This gives all of our athletes the opportunity to compete at regional, provincial, and international tournaments. For more information, visit the links below.
          </p>
          <p class="link">
            <%=  link_to "Judo Ontario", "home.html" %>
          </p>
          <p class="link">
            <%=  link_to "Judo Canada", "home.html" %>
          </p>
        </div>
          
      </div>
      <h1 id="instructors">OUR TALENTED INSTRUCTORS</h1>
      <hr class="style-two">
      <p>
        We are privileged to draw on the many years of experience and expertise of our instructors. They volunteer many hours during the week and weekends to teach our students. They are well qualified to coach our students in all aspects of judo.
      </p><br>
      <div class="row sensei-team-row">
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %>
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %>
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div>  
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %>
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div>
        </div>
      
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %>
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %> 
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div> 
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 sensei-team">
          <%= image_tag "judo-sensei01.jpg" %>
          <div class="img__description">
            <p>
              <h4>ERIC LINDSAY</h4>
              Sensei | Director <br>
              Provincial Kata Gold (2009)<br>
              Nidan (July 2005)<br>
              NCCP Level 1 (Feb 2003)<br>
            </p>  
          </div>
        </div>
      </div>
      <h1 id="fees">FEES & ENROLLMENT</h1>
      <hr class="style-two">
      <h2>FEES ARE PAID QUARTERLY:</h2>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <p>
          SINGLE - $240<br>
          DOUBLE - $420<br>
          FAMILY (3 MEMBERS) - $540
          </p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <p>
            FAMILY (4 MEMBERS) - $660<br>
            FAMILY (5 OR MORE MEMBERS) - $50 per child per month
          </p>
        </div>
      </div>
      <h1 id="schedule">JUDO CLASSES</h1>
      <hr class="style-two">
      <div>
        <p>
          We offer a mix of classes for kids and adults. Our kids classes are for children ages 5 - 12. Children 12+ can join our adult classes. Sunday classes are for our high performance athletes and are by invitation only.
        </p>
      </div>
      <div class="row schedule">
        <div class="col-md-4">
          <h3>KIDS CLASSES</h3>
          <p><span>MONDAY - </span>6:30 pm - 7:30 pm</p>
          <p><span>WEDNESDAY - </span>6:30 pm - 7:30 pm</p>
          <p><span>FRIDAY - </span>7:00 pm - 8:45 pm</p>
          <p><span>SUNDAY - </span>3:30 pm - 5:30 pm</p>
        </div>
        <div class="col-md-4">
          <h3>SENIORS CLASSES</h3>
          <p><span>MONDAY - </span>7:30 pm - 9:00 pm</p>
          <p><span>WEDNESDAY - </span>7:30 pm - 9:00 pm</p>
          <p><span>FRIDAY - </span>7:00 pm - 8:45 pm</p>
          <p><span>SUNDAY - </span>3:30 pm - 5:30 pm</p>
        </div>
        <div class="col-md-4">
          <h3>HOLIDAY DAYS</h3>
          <p><span>FAMILY DAY - </span>3rd Monday, February</p>
          <p><span>CANADA DAY - </span>July 1</p>
          <p><span>THANKSGIVING - </span>2nd Monday, October</p>
          <p><span>REMEMBRANCE DAY - </span>November 11</p>
          <p><span>CHRISTMAS DAY - </span>December 25</p>
        </div>
      </div>
      <h2>ENROLLMENT</h2>
      <div>
        <p>
          All enrollment must be done in person. Before visiting us, please print, complete, and sign the form(s) below:
        </p>
        <div class="pdf-download">
          <%= link_to 'Children (PDF)', asset_path('Shin-Bu-Kan-Adults.pdf', skip_pipeline: true), target: "_blank" %>
          <%= link_to 'Adults (PDF)', asset_path('Shin-Bu-Kan-Children (1).pdf', skip_pipeline: true), target: "_blank" %>
          <%= link_to 'Fees (PDF)', asset_path('Shin-Bu-Kan-Fees.pdf', skip_pipeline: true), target: "_blank" %>
        </div>
      </div> 
      <hr class="style-two">
      
    </div>
  </div>
  <section class="module parallax parallax-1">
    <div class="container">
      <h1>ARE YOU READY?</h1>
      <h3>Join Now</h3>
    </div>
  </section>
  
  <footer class="footer">
    <div class="row contact-social">
      <div class="col-md-4 social-link">
        <h3 id="contact">CONTACT US</h3>
        <%= mail_to "info@mississaugajudo.com"%> <br>
        <a href="tel:+1 (416) 840 2867">+1 (416) 840 2867</a>
      </div>
      <div class="col-md-5 social-link">
        <h3>OUR ADDRESS</h3>
        <a href="http://maps.google.com/?q=1200 2359 Royal Windsor Dr, Unit #11, Mississauga, ON L5J4S9" target="blank">2359 Royal Windsor Dr, Unit #11, Mississauga, ON L5J4S9</a>
      </div>
      <div class="col-md-3 social-link">
        <h3>SOCIAL</h3>
        <a href="https://www.facebook.com/sbkjudo/?ref=page_internal" target="blank">Facebook</a>
        <br>
        <a href="https://twitter.com/gakubukanjudo" target="blank">Twitter</a>
      </div>
    </div>
  </footer>
</div>


