<%= form_for @post, html: { multipart: true }, class: "form-horizontal" do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Judo Club Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-style-10">
  <h1>Add Story<span></span></h1>
  <form>
      <div class="section"><span>1</span>Title</div>
      <div class="inner-wrap">
          <label>Title <%= f.text_field :title, class: "form-control" %> </label>
      </div>

      <div class="section"><span>2</span>Image</div>
      <div class="inner-wrap">
        <label>Image <%= f.file_field :postimage, class: "form-control" %> </label>
      </div>

      <div class="section"><span>2</span>Details</div>
      <div class="inner-wrap">
          <label>Details <%= f.text_area :details, class: "form-control" %></label>
      </div>
      
      <div class="button-section">
        <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
      </div>
      
      
  </form>
  </div>


<% end %>

