.well  
  
  = form_for @member do |f|
    - if @member.errors.any?
      #error_explanation
        %h2= "#{pluralize(@member.errors.count, "error")} prohibited this item from being saved:"
        %ul
          - @member.errors.full_messages.each do |message|
            %li= message
    
    .well
      .nested-fields
        = f.fields_for :members, @item do |f| 
          = render 'members/member_fields', f: f 
        .div
          = link_to_add_association 'Add Member', f, :members, class: 'btn btn-primary add-item'
    = f.submit 'Save', class: 'btn btn-primary save-job' 
    / .actions
    /   .form-group
    /     %label First_Name
    /     = f.text_field :first_name,:class => 'form-control'
    /   .form-group
    /     %label Last_Name
    /     = f.text_field :last_name,:class => 'form-control'
    /   .form-group
    /     %label Birth_year
    /     = f.number_field :birth_year,:class => 'form-control', :type => "number"
    / .actions
    /   = f.submit 'Save'


    .div
      = link_to_add_association 'Add Member', f, :members, class: 'btn btn-primary add-item'  
  