<div class="top-posts"></div>
<div class="edit-member">
  <%= link_to "", members_path, class: 'glyphicon glyphicon-remove close-window' %>  
  <h1>Edit Member</h1>
  
  <%= form_for @member do |f| %>
    <div class="nested-fields row new-item">
      <div class="form-group col-sm-6">
        <%= f.label :first_name, 'Name', class: "control-label" %> 
        <%= f.text_field :first_name,:class => 'form-control', style: 'text-transform: capitalize;' %>
      </div>
      <div class="form-group col-sm-6 col-xs-6">
        <%= f.label :last_name, 'Last Name', class: "control-label" %>
        <%= f.text_field :last_name,:class => 'form-control', style: 'text-transform: capitalize;' %>
      </div>
      <div class="form-group col-sm-6 col-xs-4">
        <%= f.label :birth_year, class: "control-label" %> 
        <%= f.number_field :birth_year,:class => 'form-control', :type => "number" %>
      </div>
      <div class="form-group col-sm-6 col-xs-4">
        <%= f.label :activ %>
        <br>
        <label class="switch">
        <%= f.check_box :status,{}, "active", "inactive" %>
        <span class="slider round">
        </span>
        </label>
      </div>
      
    </div>
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
  <% end %>
    
</div>
